include pug/mixins
doctype html
html(lang="ru")
    +head('Назначение машины на бригаду')
    body
        .wrapper
            include pug/_basice/_header
            .page.duo
                .main
                    include pug/dispatcher/main/slider
                    include pug/dispatcher/transport/titleFilter
                    include pug/dispatcher/transport/table
                aside
                    include pug/dispatcher/registry/aside




            include pug/_basice/_footer

        include pug/_basice/_popup
        include pug/_basice/_js
